.App{
  flex-wrap: wrap;
  max-width: 500px;
  align-items: center;
  margin: auto;
}
.search-bar{
  padding-left: 20px;
  background-color: blue;
  color: white;
  padding-bottom: 10px;
}
 .input-size{
  text-align: center;
  border: 1px solid red;
  max-width: 100%;
}